<nav class="navbar navbar-expand p-4">
  <div class="container-fluid">
    <div class="col-2">
      <img src="assets/logo-bancoestado.png" alt="" width="150">
    </div>
    <div class="col-5">
      <div class="container-fluid">
        <a class="navbar-brand p-2 text-white fs-6 fw-bold" href="#">Inicio</a>
        <a class="navbar-brand p-2 text-white fs-6 fw-bold" href="#">Productos</a>
        <a class="navbar-brand p-2 text-white fs-6 fw-bold" href="#">Simuladores</a>
        <a class="navbar-brand p-2 text-white fs-6 fw-bold" href="#">Beneficios</a>
        <a class="navbar-brand p-2 text-white fs-6 fw-bold" href="#">Servicios</a>
        <a class="navbar-brand p-2 text-white fs-6 fw-bold" href="#">App BancoEstado</a>
        <a class="navbar-brand p-2 text-white fs-6 fw-bold" href="#">Red de Atencion</a>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4">
      <a class="btn text-white" href="https://www.bancoestado.cl/content/bancoestado-public/cl/es/home/home/hazte-cliente.html#/">
        Hazte cliente
      </a>
      <button class="btn text-white" (click)="Transferencia()">
        Transferir
      </button>
    </div>
  </div>
</nav>

<div id="content" class="container-fluid">
  <div class="container text-center">
    <h1 class="p-5">Beneficios y novedades para ti</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <img class="p-3" src="/assets/img1.jpg" alt="">
          <div class="card-body">
            <h5 class="p-3">Participa por 500 dolares</h5>
            <h6 class="p-3">Envia dinero al extranjero y gana 1 de 10 premios durante diciembre.</h6>
            <div class="container text-end">
              <button class="btn btn-warning text-white fs-5">Ver mas</button>
            </div>           
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img class="p-3" src="/assets/img2.jpg" alt="">
          <div class="card-body">
            <h5 class="p-3">Celebra este fin de año viajando con tu App</h5>
            <h6 class="p-3">Compra tus pasajes de bus, tren o trasfer desde tu App con kupos</h6>
            <div class="container text-end">
              <button class="btn btn-warning text-white fs-5">Ver mas</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img class="p-3" src="/assets/img3.jpg" alt="">
          <div class="card-body">
            <h5 class="p-3">Bolsillo Familiar Electronico</h5>
            <h6 class="p-3">Conoce que es y como se usa este aporte estatal</h6>
            <div class="container text-end ">
              <button class="btn btn-warning text-white fs-5">Ver mas</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <img class="p-3" src="/assets/img4.jpg" alt="">
          <div class="card-body">
            <h5 class="p-3">Tus tramites bancarios mas sencillos</h5>
            <h6 class="p-3">Prefiere maneras de hacer tus transacciones faciles y rapidas</h6>
            <div class="container text-end">
              <button class="btn btn-warning text-white fs-5">Ver mas</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container text-center p-5">
    <h1>Accede de forma mas facil:</h1>
  </div>
  
  <div class="container p-5">
    <div class="row">
      <div class="col-4">
        <div class="card text-center">
          <div class="container">
            <img src="/assets/easy1.png" alt="" width="120">
          </div>
          <div class="card-body">
            <h6>Pension Grantizada Universal</h6>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card text-center">
          <div class="container">
            <img src="/assets/easy2.png" alt="" width="120">
          </div>  
          <div class="card-body">
            <h6>Pension Grantizada Universal</h6>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card text-center">
          <div class="container">
            <img src="/assets/easy3.png" alt="" width="120">
          </div>
          <div class="card-body">
            <h6>Pension Grantizada Universal</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="foot" class="container-fluid pt-4">
  <div class="container text-white">
    <div class="row">
      <div class="col-3">
        <img src="/assets/logo-bancoestado.png" alt="" width="180">
      </div>
      <div class="col-3 pt-5">
        <h6>Sitios</h6>
      </div>
      <div class="col-3 pt-5">
        <h6>Informate</h6>
      </div>
      <div class="col-3 pt-5">
        <h6>Temas de Interes</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p>Existimos para acompañar a todas las personas y empresas del país otorgando soluciones financieras para el logro de sus proyectos de vida.</p>
        <p>Siendo una herramienta de política pública potente que apoye a Chile en su camino hacia el desarrollo integral.</p>
        <p>Casa Matriz BancoEstado: Avenida Libertador Bernardo O'Higgins N° 1111, Santiago.</p>
      </div>
      <div class="col-3">
        <div class="list-group">
          <a class="text-white p-1" href="">Personas</a>
          <a class="text-white p-1" href="https://www.bancoestado.cl/content/bancoestado-public/cl/es/home/home-microempresa.html#/">Microempresa</a>
          <a class="text-white p-1" href="">Pequeñas Empresas</a>
          <a class="text-white p-1" href="">Empresas</a>
          <a class="text-white p-1" href="">I. Publicas</a>
          <a class="text-white p-1" href="">Compraaqui</a>
          <a class="text-white p-1" href="">O. Sociedad Civil</a>
          <a class="text-white p-1" href="">Corporativo</a>
          <a class="text-white p-1" href="">Investor Relations</a>
          <a class="text-white p-1" href="">Transparencia</a>
          <a class="text-white p-1" href="">Sostenibilidad Corporativa</a>
        </div>
      </div>
      <div class="col-3">
        <div class="list-group">
          <a class="text-white p-1" href="">Bases y Concursos</a>
          <a class="text-white p-1" href="">Tarifas</a>
          <a class="text-white p-1" href="">Ley de Fraudes</a>
          <a class="text-white p-1" href="">Propiedades en Remate</a>
          <a class="text-white p-1" href="">Museo del ahorro</a>
          <a class="text-white p-1" href="">Trabaja en BancoEstado</a>
          <a class="text-white p-1" href="">Portal de Donaciones</a>
          <a class="text-white p-1" href="">Huella Social</a>
          <a class="text-white p-1" href="">Solvencia Economica</a>
          <a class="text-white p-1" href="">Politica PEP</a>
          <a class="text-white p-1" href="">Condiciones de Seguros Asociados a Creditos Hipotecarios</a>
        </div>
      </div>
      <div class="col-3">
        <div class="list-group">
          <a class="text-white p-1" href="">Adjudicacion Licitacion Publica Seguros Colectivos de Desgravamen y Desgravamen con Adicional de Invalidez Total y Permanente 2/3 Asociados a Creditos Hipotecarios Banco del Estado de Chile</a>
          <a class="text-white p-1" href="">Adjudicacion Licitacion Publica Seguros Colectivos de Incendio y Adicionales Asociados a Creditos Hipotecarios</a>
        </div>
        <a class="btn btn-primary mt-5 fs-5" href="https://www.bancoestado.cl/content/bancoestado-public/cl/es/home/home/temas-de-interes.html#/">Ver Todos</a>
      </div>
    </div>
  </div>
</div>
<div id="foot2" class="container-fluid bg-dark">
  <div class="container">
    <img class="pt-5" src="/assets/defensoria-del-cliente.png" alt="">
    <p>Política de Privacidad y Uso, Defensa del Cliente, BancoEstado cuenta con un Plan de Cumplimiento de la Ley N°19.496, el cual establece Normas sobre Protección de los Derechos de los Consumidores, conocida también como Ley del Consumidor o Ley SERNAC. Este Plan tiene como objetivo prevenir, evitar, mitigar los riesgos de multas, juicios, daños patrimoniales y de reputacion generados por el incumplimiento de la Ley, promoviendo la confianza del mercado en las actividades del BancoEstado. FATCA, Canal de Denuncias, Informese sobre la garantia estatal de los depositos en su Banco o en 222.cmfchile.cl. Informese sobre las entidadeds autorizadas para emitir Tarjetas de Pago en el pais, quienes se encuentran inscritas en los Registros de Emisores de Tarjetas que lleva la CMF, en www.cmfchile.cl. Casa Matriz BancoEstado: Avenida Libertador Bernardo O'Higgings Nº1111, Santiago</p>
  </div>
</div>